html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

h1 {
	margin: 0px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: white;
}

li {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: white;
}

.header {
	background-color: #fed100;
	height: 13%;
	width: 100%;
	margin-bottom: 1%
}

.logo-div {
	float: left;
	display: table-cell;
	width: 20%;
	height: 100%;
	margin: 0;
/*	padding-left: 10%;
	padding-right: 10%;*/
}

.logo {
	display:block;
   	padding-top: 7%;
   	padding-left: 14%;
	width: auto;
	height: 70%;
	margin: 0;
}

.links-container {
	float: right;
	width: 10%;
	height: 80%;
	float: right;
	text-align: center;
	padding-top: 2%;
}

.header-link {
	width: 100%;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	color: #222222;
}


.greeting-container {
	background-color: #222222;
	padding-top: .2%;
}

.greeting {
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	font-weight: 100;
	color: white;
	text-align: center;
	font-size: 190%;
}

.page-content {
	height: 100%;
	width: 100%;
	margin: 0px;
	background-color: #222222;
}

