.container {
	width: 100%;
	height: 100%;
	/*background-color: #222222 !important;*/
}

h1, h3, p {
	color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
    font-weight: 100;
}

p {
	padding-top: 10px;
	font-style: italic;
}

span.name {
	color: #fed100;
}

span.location {
	color: #fed100;
}

span.time {
	color: #fed100;
}

.cal-view-div {
	float: left;
}

.CalendarTitle > label {
	color: black;
	font-size: 30px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
    font-weight: 100;

}

.container {
	/*background-color: black;*/
}

.cal_container {
	background-color: white;
}

.TitleText {
	font-size: 20px;
}

.form-inline {
	padding-bottom: 0px;
	margin-bottom: 0px !important;
}

body {
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
	/*overflow-y: scroll;*/
	overflow-x: hidden; 
	width: 90%;
	/*height: 84.9%;*/
	margin: 0 auto;
}

.fc-content {
	height: 50%;
}

form_field{
	color: black;
}


/**{
	border: 1px solid red !important;
}*/