.submit_button {
	float: right;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #222222;
    padding-top: 10px;
}

.container h2 {
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;
}

option {
    font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
    font-weight: 100 !important;
}

.container label {
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;
}

.container li {
    list-style-type: none;
    padding-right: 30px;
    padding-left: 30px;
}

/*.container ul {
    width: 80%;
    display: block;
    margin: 0 auto;
}*/

.container a:hover, a:focus {
    background-color: #222222 !important;
}


.centered-container {
    display: block;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}



.nav-pills {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    white-space: nowrap;
}

.pill {
    display: inline-block;
    margin: 0px !important;
    width: 25%;
    background-color: inherit !important;
}

.pill.icon:hover {
    opacity: 1;
}

.pill.icon {
    opacity: .7;
}

.pill.icon.active {
    opacity: 1;
}

.pill-link {
    background-color: inherit !important;  
}

.pill img {
    height: 70px;
    width: auto;
}

#submit {
	text-align: center;
	font-size: 60pt;
    font-weight: 100;
    padding-top: -10px;
    margin-top: -15px;
    padding-left: 15px;
    transition: all .2s ease-in-out;
}

#submit:hover {
	cursor: pointer;
	color: #fed100;
}

#time {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
}

#amenities {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
  /*-vendor-animation-iteration-count: infinite;*/
}

#location {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
  /*-vendor-animation-iteration-count: infinite;*/
}

form {
    width: 50%;
    margin: 0 auto;
}

.pane-container {
    width: 80%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.arrow {
    height: 100%;
    width: 25px;
    display: inline-block;
    position: absolute;
    margin: 0px;
    top: 50%;
    margin-top: -29px;
    transition: all .5s ease-in-out;
}

#rightarrow {
    right: 0px;
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;
}

#leftarrow {
    -webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
    animation-duration: .5s;  
}

.arrow>img:hover {
    transform: scale(1.5);
}

.arrow > img {
    width: 100%;
    height: auto;
}