.list-group-item {
	margin: 10px;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #222222;
}

/*#room-list .active {
	background-color: #F923AB;
}*/

.empty {
	color: red;
}

h1 {
	margin-left: 10px;
    color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;
}

button {
	margin-left: 10px;
}

h5 {
	margin-bottom: 0px;
}

body {
	/* Disable scrollbars and ensure that the body fills the window */
	overflow: hidden;
	/*width: 100%;
	height: 100%;*/
}

#header {
    /* Provide scrollbars if needed and fix the header dimensions */
    overflow: auto;
    position: absolute;
    width: 90%;
    height: 150px;
}

#main {
    /* Provide scrollbars if needed, position below header, and derive height from top/bottom */
    overflow: auto;
    position: absolute;
    width: 90%;
    top: 33%;
    bottom: 0;
}

h3, h5, li {
    color: #222222;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;

}

button {
    color: #222222;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-weight: 100;

    
}

.btn {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 50px !important;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

button.active {
    color: white;
}

.active {
    background-color: #fed100 !important;
}
