#settings .centered-container {
  width: 70% !important;
}

#settings {
  color: white;
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

/*#settings h1, label, input {
  padding: 5px;
}*/

.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px; 
}

.one-fourth {
    width: 25%;
}

.three-fourths {
    width: 60%;
}

#settings .inner-container {
  margin-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#settings #nav li {
  margin: 4px;
}

#settings #nav li a{
  color: white;
}

#settings #nav li.active a{
  background-color: white;
  color: #222222;
}

#settings #nav li.active a:hover {
  background-color: white;
}

#settings #nav li:hover a{
  background-color: #222222;
  box-shadow: 0 0 0 1px white inset;
}

#error {
  color: red;
  font-size: 10pt;
}