<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Get-A-Room</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" />

    </head>

    <body>
    	<div class="header">
            <div class="logo-div">
                <a class="logo-link" href="/booker/">
                    <img class="logo" src="{% static "images/logoheader.png" %}" alt="Get-A-Room" />
                </a>
            </div>
            <div>
            
            </div>

        </div>

        <div class="greeting-container">
            <h1 class="greeting">You are about to change the world.<br> You're gonna need a room.</h1>
        </div>


        <div class="page-content">{% block body_block %}{% endblock %}</div>
    </body>
</html>