{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
  	<link rel="stylesheet" type="text/css" href="{% static "css/calendar.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "js/dist/sweetalert.css" %} ">
    <link rel="stylesheet" type="text/css" href="{% static "css/swal-forms.css" %} ">
    <script src="{% static "js/calendar.js" %}"></script>
    <!-- CSS -->
    <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" rel="stylesheet" /> -->
    <link href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- <link href="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.print.css" rel="stylesheet" /> -->

    
    <!-- SCRIPTS -->
    <script class="cssdesk" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js" type="text/javascript"></script>
    <script class="cssdesk" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js" type="text/javascript"></script>
    <script class="cssdesk" src="//arshaw.com/js/fullcalendar-1.5.3/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="{% static "js/dist/sweetalert.min.js" %}"></script>
    <script src="{% static "js/swal-forms.js" %}"></script>
{% endblock %}

{% block body_block %}
  <div class="container">
    <div class="row">
      <div class = "CalendarTitle">
          <form role="form" class="form-inline">  
            <div class = "TitleText"> Reservation Calendar for: 
              <select class = "dropDId" id="calview_bldg" onchange="building_submit()">
                {% for building in buildings %}
                  <option value="{{building.name}}"> {{building.name}} </option>
                {% endfor %}

              </select>
          <select class = "dropDId" id="calview_room" onchange="calendar_refresh()"></select>
        </form>
        </div>
      </div>
    </div>
    <div class="cal_container">
      <div id='calendar'></div>
    </div>
  </div>

{% endblock %}