{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
    <!-- Confirm css -->
    <link rel="stylesheet" type="text/css" href="{% static "css/confirm.css" %} ">
{% endblock %}

{% block body_block %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if group_search %}
                <h1>Congratulations, <span class="name">{{ user.userprofile.first_name }}</span>, <br />
                You've booked a room for group '{{group}}'!</h1>
            {% else %}
                <h1>Congratulations, <span class="name">{{ user.userprofile.first_name }}</span>, <br />
                You've booked a room!</h1>
            {% endif %}
        {% else %}
            <h1>Congratulations, you've booked a room!</h1>
        {% endif %}
        <h3>Room: <span class="location">{{room}}, {{building}}</span></h3>
        {% for res in reservations %}
            <h3>Time: <span class="time">{{res.start_time}}</span> to <span class="time">{{res.end_time.time}}</span></h3>
        {% endfor %}
        <p> Thanks for using Get-A-Room! </p>
    </div>
{% endblock %}