{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
  <!-- Index css/js -->
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %} ">
  <script src="{% static "js/index.js" %}"></script>
  <script>
    function show(shown, hidden1, hidden2) {
  	 document.getElementById(shown).style.display='block';
  	 document.getElementById(hidden1).style.display='none';
  	 document.getElementById(hidden2).style.display='none';
  	 document.getElementById(hidden3).style.display='none';
  	 return false;
    }
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript">
      $(function() {
        $('#id_date').datepicker({
          minDate: 0,
          maxDate: 6
        });
      });
  </script>     </script>
{% endblock %}

{% block body_block %}
  <div class="container">
    <ul class="nav nav-pills">
      <li class="pill active grow icon" id="time-pill">
        <a class="pill-link" data-toggle="pill" href="#time" onclick="transitionPane('time')">
          <img src="{% static "images/clock_icon.png" %}" alt="Time" />
        </a>
      </li>
      <li class="pill grow icon" id="amenities-pill">
        <a class="pill-link" data-toggle="pill" href="#amenities" onclick="transitionPane('amenities')">
          <img src="{% static "images/checkbox.png"%}" alt="Amenities" /> 
        </a>
      </li>
      <li class="pill grow icon" id="location-pill">
        <a class="pill-link" data-toggle="pill" href="#location" onclick="transitionPane('location')">
          <img src="{% static "images/location_point.png" %}" alt="Location" /> 
        </a>
      </li>
      <li class="pill">
        <label for="submit-form" id="submit" class="grow">Go!</label>
      </li>
    </ul>

    <div class="arrow" id="leftarrow">
      <a id="leftarrowlink" data-toggle="pill" href="#" onclick="transitionPane(-1)">
        <img src="{% static "images/leftarrow.png" %}" alt="Left" /> 
      </a>
    </div>
    <div class="pane-container">
      {% if group_search %}
        <h3 style="color:#fed100;">Group: {{group}}</h3>
      {% endif %}
      <form action="." method="post">
        {% csrf_token %}
        <div class="centered-container tab-content">
          <div id="time" class="tab-pane fade in active">
            <h2>Time and Duration</h2>
            <div class = "form-group">
              {{ form.date.label_tag }}
              {{ form.date }}
            </div>
            <div class = "form-group">
              {{ form.time.label_tag }}
              {{ form.time }}
            </div>
            <div class = "form-group">
              {{ form.duration.label_tag }}
              {{ form.duration }}
            </div>
            <div class = "form-group">
              {{ form.capacity.label_tag }}
              {{ form.capacity }}
            </div>
            {% if group_search %}
              <div class = "form-group">
                {{ form.weekly.label_tag }}
                {{ form.weekly }}
              </div>
            {% endif %}
            {% if group_search %}
              <div class = "form-group">
                {{ form.nmeetings.label_tag }}
                {{ form.nmeetings }}
              </div>
            {% endif %}
          </div>
          <div id="amenities" class="tab-pane fade">
            <h2>Amenities</h2>
            <div class = "form-group">
              {{ form.projector.label_tag }}
              {{ form.projector }}
            </div>
            <div class = "form-group">
              {{ form.whiteboard.label_tag }}
              {{ form.whiteboard }}
            </div>
            <div class = "form-group">
              {{ form.windows.label_tag }}
              {{ form.windows }}
            </div>
          </div>
          <div id="location" class="tab-pane fade">
            <h2>Location</h2>
            <div class = "form-group">
              {{ form.area.label_tag }}
              {{ form.area }}
            </div>
            <div class = "form-group">
              {{ form.flexible.label_tag }}
              {{ form.flexible }}
            </div>
          </div>
        </div>
        <input type="submit" id='submit-form' class = "hidden" />
      </form>
    </div>
    <div class="arrow" id="rightarrow">
      <a id="rightarrowlink" data-toggle="pill" href="#amenities" onclick="transitionPane(1)">
        <img src="{% static "images/rightarrow.png" %}" alt="Right" /> 
      </a>
    </div>

    <!-- Uncomment below for form validation errors to appear on this page -->
    <!-- {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <div class="alert alert-error">
          <strong>{{ error|escape }}</strong>
        </div>
      {% endfor %}
    {% endif %} -->

  </div>
  <script>
    addClasses();
    checkTimeValues();
    checkDurationValues();
  </script>
  {% endblock %}