{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %} ">
{% endblock %}
{% block body_block %}
	<div class="container">
        <h1>Login to Get-A-Room</h1>

        <form id="login_form" method="post" action="/booker/login/">
            {% csrf_token %}
            Email: <input class="textbox" type="text" name="username" value="" size="50" />
            <br />
            Password: <input class="textbox" type="password" name="password" value="" size="50" />
            <br />

            <input id="submit" type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}