{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %} ">
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="inner-container">
			<div class= "column one-forth">
				{% if profile.picture != None %}
					<div class="profile-pic-container">
						<div class="profile-pic" style="background-image: url({% static profile_pic %});">
						</div>
					</div>
				{% else %}
					<input type="image" src="{% static "images/mag_question.png" %}" border="0" alt="Upload profile picture" />
				{% endif %}
				<h2 class="user-name">
				<a class="name-link" href=".">{{ profile.first_name }} {{ profile.last_name }}</a>
				</h2>
				<a class="user-email" href="mailto:{{profile.user.username}}" "Email">{{profile.user.username}}</a>
			</div>
			<div class="column three-fourths">
				<ul class="nav nav-tabs">
					<li class="tab active"><a class="tab-link" data-toggle="tab" href="#reservations">Reservations</a></li>
					<li class="tab"><a class="tab-link" data-toggle="tab" href="#groups">Groups</a></li>
					<li class="tab"><a class="tab-link" data-toggle="tab" href="#organizations">Organizations</a></li>
				</ul>
				<div class="tab-content">
					<div id="reservations" class="tab-pane fade in active">
						<div class="button-bar">
							<div class="header-container">
								<h3>My Reservations</h3>
							</div>
							<a href="/booker/" class="btn">Get a Room</a>
						</div>
						{% if reservations.count == 0 %}
							<p>Your schedule looks all clear!</p>
						{% else %}
							<div id="main" class="full-list">
								<div class="list-group" id="reservation-list">
									{% for reservation in reservations %}
										<a id="{{ reservation.room.name }}" onclick="updateActiveRoom('{{reservation.room.name}}')" href="#" class="list-group-item">
											<h4><span>{{ reservation.room.building.name }}</span> <span>{{ reservation.room.name }}</span></h4>
											<span class="time">{{reservation.start_time}}</span> to <span class="time">{{reservation.end_time}}</span>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
				 	<div id="groups" class="tab-pane fade">
						{% if groups.count == 0 %}
							<div class="button-bar">
								<div class="header-container">
									<h3>My Groups</h3>
								</div>
								<a href="/booker/create-group" class="btn">Create Group</a>
							</div>
							<p>Get social and join some groups! Or start one of your own!</p>
						{% else %}
							{% if profile.is_group_admin %}
								<div class="button-bar">
									<div class="header-container">
										<h3>Groups I Manage</h3>
									</div>
									<a href="/booker/create-group" class="btn">Create Group</a>
								</div>
								<div id="main" class="half-list">
									<div class="list-group" id="admin-group-list">
										{% for group in admin_groups %}
											<a id="{{ group.name }}" onclick="updateActiveRoom('{{room.name}}')" href="#" class="list-group-item">
												<h4><span>{{ group.name }}</span></h4>
												<span class="badge">{{group.get_member_count}}</span>
											</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}
							<div class="button-bar">
									<div class="header-container">
										<h3>My Groups</h3>
									</div>
									<!-- <a href="/booker/create-group" class="btn">Create Group</a> -->
							</div>
							<div id="main" class="half-list">
								<div class="list-group" id="group-list">
									{% for group in groups %}
										<a id="{{ group.name }}" onclick="updateActiveRoom('{{room.name}}')" href="#" class="list-group-item">
											<h4><span>{{ group.name }}</span></h4>
											<span class="badge">{{group.get_member_count}}</span>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
					<div id="organizations" class="tab-pane fade">
						{% if profile.organizations.count == 0 %}
							<div class="button-bar">
								<div class="header-container">
									<h3>My Organizations</h3>
								</div>
								<!-- <a href="/booker/create-group" class="btn">Create Group</a> -->
							</div>
							<p>Uh oh, you haven't joined any organizations yet! Join an organization in order to book a reservation on its calendar.</p>
						{% else %}
							{% if profile.is_org_admin %}
								<div class="button-bar">
									<div class="header-container">
										<h3>Organizations I Manage</h3>
									</div>
									<!-- <a href="/booker/create-group" class="btn">Create Group</a> -->
								</div>
								<div id="main">
									<div class="list-group" id="org-admin-list">
										{% for org in admin_orgs %}
											<a id="{{ org.name }}" onclick="updateActiveRoom('{{org.name}}')" href="#" class="list-group-item">
												<h4><span>{{ org.name }}</span></h4>
												<span class="badge">{{org.get_member_count}}</span>
											</a>
										{% endfor %}
									</div>
								</div>
							{% endif %}
							<div class="button-bar">
									<div class="header-container">
										<h3>My Organizations</h3>
									</div>
									<a href="maito:getaroomsuperuser@gmail.com" class="btn">Create Organization</a>
							</div>
							<div id="main">
								<div class="list-group" id="org-list">
								<!-- {{organizations}} -->
									{% for org in organizations %}
										<!-- {{org}} -->
										<a id="{{ org.name }}" onclick="updateActiveRoom('{{org.name}}')" href="#" class="list-group-item">
											<h4><span>{{ org.name }}</span></h4>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}