{% extends 'booker/base.html' %}
{% load static %}
{% block head_block %}
	<link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %} ">

	<script src="{% static "js/profile.js" %}"></script>
	<script src="{% static "js/dist/sweetalert.min.js" %}"></script>
	<script src="{% static "js/swal-forms.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="{% static "js/dist/sweetalert.css" %} ">
	<link rel="stylesheet" type="text/css" href="{% static "css/swal-forms.css" %} ">
	
{% endblock %}

{% block body_block %}
	<div class="container">
		<div class="inner-container">
			<div class= "column one-forth">
				{% if profile.picture %}
					<div class="profile-pic-container">
						<div class="profile-pic" style="background-image: url({% static profile_pic %});">
						</div>
					</div>
				{% else %}
					<input class="profile-pic" type="image" src="{% static "images/mag_question.png" %}" border="0" alt="Upload profile picture" />
				{% endif %}
				<h2 class="user-name">
				<a class="name-link" href=".">{{ profile.first_name }} {{ profile.last_name }}</a>
				</h2>
				<a class="user-email" href="mailto:{{profile.user.username}}" "Email">{{profile.user.username}}</a>
			</div>
			<div class="column three-fourths">
				<ul class="nav nav-tabs">
					<li class="tab{{active_tab_array.0}}"><a class="tab-link" data-toggle="tab" href="#reservations" onclick="makeContentInactive()">Reservations</a></li>
					<li class="tab{{active_tab_array.1}}"><a class="tab-link" data-toggle="tab" href="#groups" onclick="makeContentInactive()" id="dirk">Groups</a></li>
					<li class="tab{{active_tab_array.2}}"><a class="tab-link" data-toggle="tab" href="#organizations" onclick="makeContentInactive()">Organizations</a></li>
				</ul>
				<div class="tab-content">
					
					<div id="reservations" class="tab-pane fade in{{active_tab_array.0}}">
						<div class="button-bar">
							<div class="header-container">
								<h3>My Reservations</h3>
							</div>
							<a href="/booker/" class="btn">Get a Room</a>
						</div>
						{% if reservations.count == 0 %}
							<p>Your schedule looks all clear!</p>
						{% else %}
							<div id="main" class="full-list">
								<div class="list-group" id="reservation-list">
									{% for reservation in reservations %}
										<a id="reservation{{ reservation.id }}" onclick="updateActiveReservation('reservation{{reservation.id}}')" href="#" class="list-group-item">
											<h4><span>{{ reservation.room.building.name }}</span> <span>{{ reservation.room.name }}</span></h4>
											<span class="time">{{reservation.start_time}}</span> to <span class="time">{{reservation.end_time}}</span>
											<span class="pull-right">
												<button class="btn remove-reservation-button" id="remove-reservation-button reservation{{ reservation.id }}" onclick="removeReservation('reservation{{reservation.id}}')">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</span>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>

				 	<div id="groups" class="tab-pane fade in{{active_tab_array.1}}">
				 		<div class="button-bar">
							<div class="header-container">
								<h3>My Groups</h3>
							</div>
							<button class="btn" onclick="createGroupPopup()">Create Group</button>
							<button class="btn" onclick="joinGroupPopup()">Join Group</button>
						</div>
						{% if groups.count == 0 %}
							<p>Get social and join some groups! Or start one of your own!</p>
						{% else %}
							<div id="main" class="full-list">
								<div class="list-group" id="group-list">
									{% for group in groups %}
										<a id="group{{ group.id }}" onclick="updateActiveGroup('group{{group.id}}')" href="#" class="list-group-item">
											<h4><span>{{ group.name }}</span></h4>
											<span class="pull-right">
												{% if group in admin_groups %}
													<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
												{% endif %}
												<span class="badge">{{group.get_member_count}}</span>
												<button class="btn remove-group-button" id="remove-group-button group{{ group.id }}" onclick="removeGroup('group{{group.id}}')">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</span>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>

					<div id="organizations" class="tab-pane fade in{{active_tab_array.2}}">
						<div class="button-bar">
							<div class="header-container">
								<h3>My Organizations</h3>
							</div>
							<button class="btn" onclick="joinOrgPopup()">Join Organization</button>
						</div>
						{% if profile.organizations.count == 0 %}
							<p>Uh oh, you haven't joined any organizations yet! Join an organization in order to book a reservation on its calendar.</p>
						{% else %}
							<div id="main" class="full-list">
								<div class="list-group" id="org-list">
									{% for org in organizations %}
										<a id="org{{ org.id }}" onclick="updateActiveOrg('org{{org.id}}')" href="#" class="list-group-item">
											<h4><span>{{ org.name }}</span></h4>
											<span class="pull-right">
												{% if org in admin_orgs %}
													<span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
												{% endif %}
												<span class="badge">{{org.get_member_count}}</span>
												<button class="btn remove-org-button" id="remove-org-button org{{ org.id }}" onclick="removeOrg('org{{org.id}}')">
													<span class="glyphicon glyphicon-remove"></span>
												</button>
											</span>
										</a>
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>

				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
{% endblock %}